@import "../../variables";

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 15px;
  background-color: $baseBg;

  &__logo {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: $colorLogo;
    font-weight: bold;

    img {
      max-height: 50px;
    }
  }
}

.user-box {
  margin-left: 20px;
  padding: 10px;
  background-color: #eeeeee;

  a {
    color: #000;
  }

  &__logout {
    margin-left: 10px;
  }

  &__space {
    margin: 0 5px;
  }
}
